/*  */

.slot_4_28 {
  display: flex;
  width: 274px;
  height: 36px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background: url(/2fd27fab9ab89995a515bd63c350c70a89d00cd9.png) lightgray 0%
    0% / 50px 50px repeat;
  opacity: 1;
}
/* Children Css */

.children_4_30 {
  opacity: 1;
  font-family: var(--font-inter);
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  line-height: normal;
  text-transform: none;
  letter-spacing: 0px;
  color: rgba(0, 122, 255, 1);

  .children {
    font-weight: 400;
  }
}

.frame58_4_29 {
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #fff;
  opacity: 1;
}
